@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap");

body {
  font-family: "Overpass", sans-serif;
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
}

.slider {
  margin-top: 56px;
}

.movies {
  gap: 2rem !important;
}

.movie {
  height: 500px;
  width: 300px;
  overflow: hidden;
}

.movie-poster {
  width: 100%;
  height: 375px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
